.header {
	padding-top: 0!important;
	li {
		cursor: pointer;
		:hover{
			background: rgb(92, 94, 95);
			height: 100%;
		}
		width: 85px;
	}

	a {
		height: 100%;
		text-align: center;
	}
	.active {
		background:  rgb(92, 94, 95)
	}

	h1{
		cursor: pointer;
		font-weight: bold;
		text-transform: uppercase;
		color: #cecece !important;
		font-weight: 500 !important;
		font-size: 30px;
	}
}
