<div class="row content d-flex justify-content-center ">
  <div class="col-12 d-flex justify-content-center" *ngIf="showMosaic">
    <div [class]="'mosaic-container ' + getMosaicClass() ">
      <div [class]=" 'tile grow '+ getClass(i) " *ngFor="let photo of getPhotos();let i = index">
        <img class=" mx-auto d-block mosaic" [src]="photo.url">
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center my-3">
  <div class="col-md-4 d-flex justify-content-center">
    <button class="btn grow mr-3" (click)="previewPage()" [disabled]="this.currentPage <= 0">
      <i class="fa fa-chevron-left fa-4x" aria-hidden="true"></i> </button>
      <button class="btn grow ml-3" (click)="nextPage()" [disabled]="this.currentPage >= (this.totalPages - 1)">
        <i class="fa fa-chevron-right fa-4x" aria-hidden="true"></i></button>
  </div>

</div>