<div class="login">
  <main>
    <div class="containet-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="login-card">
            <div class="top-login">
              <h1 class="text-center">Sign in</h1>
              <p class="text-center lead">Inicia sesion ingresando tu correo electronico</p>
              <div class="main-login">
                <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
                  <div class="form-group mb-4">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email address">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                      <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                      <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email
                        address</small>
                    </div>
                  </div>
                  <div class="form-group  mb-4">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                      <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!authenticationForm.valid">Log In</button>

                  <div class="row pt-3"> 
                    <div class="col-12">
                   <p class="text-center">Forgot your password?</p>
                  </div> 
                   </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>