.carousel {
  li {
    border: none;
  }
  .scroll {
  overflow-x: scroll;

  }
}

.active {
  background: rgb(235, 235, 235);
}

.fadeIn {
  opacity: 0;
  animation-delay: 0.2s;
  animation-name: fadeUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  top: 30px;
}


@keyframes fadeUp {
  50%{
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
