<div class="back-ground" [style.display]="isHidden ? 'none' : 'block'"></div>
<div class="wrapper_container" [ngClass]="{ show: !isHidden }">

  <div class="row">
  <div class="close ">
    <button type="button" class="btn icon grow" (click)="hide()">
      <i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
    </button>
  </div>
</div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="!isHidden && user">
        <app-profile [user]="user" [isEdition]="true" (handleUserChange)="onChange($event)"></app-profile>
      </div>
    </div>
  </div>

</div>